<h2>Emergency action required!</h2>
<p>A task has been open and require actions asap!</p>
<strong><i><a href="<%# confirm_email_user_url(@user.token.email_token) %>">Confirm Email</a></i></strong>
<p>Kind rigards,</p>
<p>Tickets Team</p>