<h2>Password Recovery</h2>
<p><%= @greeting %> </p>
<p>Click the link below to set up your new password</p>
<strong><i><a href="<%= change_forgoten_password_user_url(@user.token.password_token) %>">Reset Password</a></i></strong>
<h3><strong>Note: </strong></h3>
<p>If you didn't request a password recovery email, please ingnore this</p>
<p>Kind rigards,</p>
<p>Tickets Team</p>