<!-- <footer id="footer" class="bg-dark page-footer font-small blue fixed-bottom">

  <div class="footer-copyright text-center py-1 text-white">© 2021 Copyright
    <%= link_to "VKAutomate", "https://vkautomate.com/", target: :_blank %> 
     </div>

</footer>
-->